<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <p><%= notice %></p>
    <p><%= alert %></p>

    <%= yield %>
  </body>
</html>
